.mask-top {
  mask-image: linear-gradient(transparent, black 15%);
  -webkit-mask-image: linear-gradient(transparent, black 15%);
}

.mask-bottom {
  mask-image: linear-gradient(black 90%, transparent);
  -webkit-mask-image: linear-gradient(black 90%, transparent);
}

.mask-top-bottom {
  mask-image: linear-gradient(transparent, black 15%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(
    transparent,
    black 15%,
    black 90%,
    transparent
  );
}
